@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
#rise-footer {
    bottom: 0;
    left: 0;
    right: 0;
    /*background: #323b40;*/
    text-align: center;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 16px;
}

.rendered_html blockquote {
    border-radius: 3px;
    position: relative;
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}

.rendered_html blockquote p {
    padding-left: 2rem;
    line-height: 1.8em;
    font-family: 'Raleway', sans-serif;
}
.rendered_html table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.rendered_html table th {
  font-weight: bold;
}

.rendered_html table th,
.rendered_html table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
  font-size: 28px;
}
